KEY=replace-with-at-least-32-bytes-random-key
SECRET=replace-with-at-least-32-bytes-random-secret

HOST=0.0.0.0
PORT=8055
PUBLIC_URL=http://localhost:8055

DB_CLIENT=sqlite3
DB_FILENAME=./data/new-media.db

CACHE_ENABLED=false
CACHE_SCHEMA=true

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin12345678

SERVE_APP=false
WEBSOCKETS_ENABLED=true

EXTENSIONS_PATH=./extensions
